[Unit]
Description=RLetters job worker
After=network.target

[Service]
Type=simple
User=rletters_deploy
Group=rletters_deploy

WorkingDirectory=/opt/rletters/root
Environment=RAILS_ENV=production
ExecStart=/opt/rletters/root/bin/que --worker-count 1 ./config/environment.rb
KillSignal=SIGQUIT
Restart=on-abort

[Install]
WantedBy=multi-user.target
