[Unit]
Description=RLetters job worker for {{ item }}
After=network.target

[Service]
Type=simple
User=rletters_deploy
Group=rletters_deploy

WorkingDirectory=/opt/rletters/root
Environment=RAILS_ENV=production
ExecStart=/opt/rletters/root/bin/bundle exec que --worker-count 1 --queue-name {{ item }} ./config/environment.rb
KillSignal=SIGQUIT
Restart=on-abort

[Install]
WantedBy=multi-user.target
